<div class="col s12 m6">
  <div class="card <%= win ? 'green' : 'red' %> darken-3">
    <div class="card-content white-text">
      <span class="card-title"><%= win ? 'Winners' : 'Loosers' %></span>
      <p class='flow-text'><%= players.map(&:slack_user_name).join('<br>').html_safe %></p>
    </div>
  </div>
</div>
